---
name: Build the recipebook

on:
  push:
    branches:
      - "main"
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    name: run the build script
    steps:
      - uses: actions/checkout@v3

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.0
          bundler-cache: true

      - name: run the build script
        run: bundle exec -- ./docbuild.sh

      - name: upload build directory
        uses: 'actions/upload-artifact@v3'
        with:
          name: webpage
          path: ./build
