---
name: Build the recipebook

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    name: run the build script
    steps:
      - uses: actions/checkout@v3

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.0
          bundler-cache: true

      - name: run the build script
        run: bundle exec -- ./docbuild.sh

      - name: deploy to github pages
        uses: JamesIves/github-pages-deploy-action@v4.3.4
        with:
          branch: gh-pages
          folder: build
